{% extends 'public/home.html' %}
{% block body %}
<div class="portlet box grey tasks-widget">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>{{ page_name2 }}
        </div>
    </div>
    <div class="portlet-body">
<!-- vue -->
    {% verbatim a %}
        <div id="app" class="el-row">
            <div class="el-col el-col-6">
                <el-upload
                  class="upload-demo"
                  drag
                  name="image"
                  :data="args"
                  action="/upload/"
                  :on-success="on_success"
                  accept=".jar"
                  multiple>
                  <i class="el-icon-upload"></i>
                  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                  <div class="el-upload__tip" slot="tip"></div>
                </el-upload>
            </div>
            <br>
            <br>
            <div class="el-col el-col-4">
                <el-switch
                  v-model="args.backup"
                  active-text="备份"
                  inactive-text="不备份">
                </el-switch>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="el-col el-col-4">
                <el-switch
                  v-model="args.update"
                  active-text="上传并更新"
                  inactive-text="只上传">
                </el-switch>
            </div>

            <el-dialog
              title="日志"
              lock-scroll="false"
              :visible.sync="dialogVisible"
              :before-close="logClose"
              width="50%">
                <el-form>
                    <el-form-item label="" :label-width="10">
                        <el-col :span="24">
                            <el-input
                              resize="none"
                              rows="24"
                              type="textarea"
                              placeholder=""
                              readonly
                              v-model="log">
                            </el-input>
                        </el-col>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </div>
    </div>
</div>


{% endverbatim a %}
<script src="/static/vue.min.js"></script>
<script src="/static/vuex.js"></script>
<!--
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
-->
<script src="/static/index.js"></script>
<script src="/static/axios.min.js"></script>
    <!--
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
wget https://unpkg.com/element-ui/lib/theme-chalk/fonts/element-icons.woff
-->
<link rel="stylesheet" href="/static/index.css"/>

<style>
.el-upload-list__item {
    width: 360px;
    height: 30px;
}
</style>

<script>
    var vm = new Vue({
        // 绑定对象
        el:'#app',
        data:{
            log: '',
            dialogVisible: false,
            args: {'backup': true,
                   'update': true}
        },
        methods:{
            notify(code, msg){
                //消息提示
                if (code == 0){
                    var title = '成功'
                    var type = 'success'
                }else if (code == 1){
                    var title = '错误'
                    var type = 'error'
                }
                this.$notify({
                  title: title,
                  message: msg,
                  type: type,
                  offset: 37,
                  showClose: false
                });
            },
            on_success(response, file){
                this.notify(response.code, response.msg);
                if (response.code == 0 ) {
                    this.log = response.log;
                    this.dialogVisible = true
                }
            },
            logClose(){
                this.dialogVisible = false
            },

        },
    })

</script>



{% endblock %}
