{% extends 'public/home.html' %}
{% block body %}

<div class="portlet box grey tasks-widget">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>{{ page_name2 }}
        </div>
    </div>
    <div class="portlet-body">
<!-- vue -->
    {% verbatim a %}
        <div id="app">
            <datatable></datatable>
        </div>
    </div>
</div>


<template id="tmp1">
    <div>
    <!-- 数据表 -->
      <el-col :span="6"><el-button type="Success" size="mini" @click="handleAdd">添加</el-button></el-col>
      <el-col :span="4" :offset="14"><el-input
          clearable
          v-model="keywords"
          size="mini"
          ref="search_bar"
          placeholder="输入关键字搜索"></el-input></el-col>

      <el-table
        :data="searchData(keywords)"
        @sort-change="changeTableSort"
        border
        stripe
        height="590px"
        style="width: 100%">
        <el-table-column
          sortable
          label="任务名"
          prop="task_name">
        </el-table-column>
        <el-table-column
          sortable
          label="任务描述"
          prop="task_desc">
        </el-table-column>
        <el-table-column
          sortable
          label="任务类型"
          prop="task_type">
        </el-table-column>
        <el-table-column
          sortable
          label="目标主机"
          width="181"
          prop="target">
        </el-table-column>
        <el-table-column
          sortable
          label="耗时(秒)"
          prop="duration">
        </el-table-column>
        <el-table-column
          sortable
          label="状态"
          prop="status">
            <template slot-scope="scope">
                <el-tag
                  :type="select_color(scope.row)"
                  disable-transitions>{{scope.row.status}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column
          sortable
          width="170"
          label="创建时间"
          prop="create_time">
        </el-table-column>
        <el-table-column
          sortable
          width="170"
          label="最后执行时间"
          prop="last_run_time"
          width="">
        </el-table-column>
        <el-table-column
          width="359"
          label="操作">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="primary"
              @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            <el-button
              size="mini"
              type="success"
              @click="handleRun(scope.$index, scope.row)">运行</el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleKill(scope.$index, scope.row)">终止</el-button>
            <el-button
              size="mini"
              type="info"
              @click="handleLog(scope.$index, scope.row)">日志</el-button>
          </template>
        </el-table-column>
      </el-table>
        <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 25, 50, 100]"
          :page-size="pageSize"
          layout="sizes, total, prev, pager, next, jumper"
          :total="search(keywords).length">
        </el-pagination>

    <!-- 对话框 -->
        <el-dialog title="添加任务"
                   :visible.sync="dialogFormVisible"
                   :append-to-body="true"
                   :before-close="handleClose">
          <el-form :model="form">
            <el-form-item label="任务名称" :label-width="formLabelWidth">
                <el-col :span="7">
                    <el-input v-model="form.task_name" autocomplete="on"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="任务描述" :label-width="formLabelWidth">
                <el-col :span="7">
                    <el-input v-model="form.task_desc" autocomplete="on"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="任务类型" :label-width="formLabelWidth">
                <el-select v-model="form.task_type" placeholder="请选择任务类型">
                    <el-option label="k8s-shell" value="k8s-shell"></el-option>
                    <el-option label="shell" value="shell"></el-option>
                    <el-option label="http" value="http"></el-option>
                    <el-option label="python" value="python"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="目标主机" :label-width="formLabelWidth">
                <el-select v-model="form.target" placeholder="请选择目标主机">
                    <el-option label="113.107.166.14:15230" value="113.107.166.14:15230"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="任务内容" :label-width="formLabelWidth">
                <el-col :span="18">
                    <el-input
                      :autosize="{ minRows: 3 }"
                      resize="both"
                      type="textarea"
                      placeholder="请输入内容"
                      v-model="form.task_cmd">
                    </el-input>
                </el-col>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="save">确 定</el-button>
          </div>
        </el-dialog>

        <el-dialog
          title="日志"
          lock-scroll="false"
          :visible.sync="dialogVisible"
          :before-close="logClose"
          width="50%">
            <el-form>
                <el-form-item label="" :label-width="10">
                    <el-col :span="24">
                        <el-input
                          ref="log_bar"
                          resize="none"
                          rows="24"
                          type="textarea"
                          placeholder=""
                          readonly
                          v-model="log">
                        </el-input>
                    </el-col>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>
</template>


{% endverbatim a %}
<script src="/static/vue.min.js"></script>
<script src="/static/vuex.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="/static/axios.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>

<script>
    var store = new Vuex.Store({
      state: {
        keywords: localStorage.getItem("keywords") || '',
      },
      mutations:{
        set(state,info){
          localStorage.setItem('keywords', info); //将传递的数据先保存到localStorage中
        }
      }
    })

    var vm = new Vue({
        // 绑定对象
        el:'#app',
        data:{
        },
        methods:{
        },
        components: {
            datatable: {
                template: '#tmp1',
                data() {
                    return {
                        tableData: [],
                        keywords: this.$store.state.keywords,
                        currentPage: 1,
                        pageSize: 10,
                        dialogFormVisible: false,
                        dialogVisible: false,
                        webSocket: '',
                        log: '',
                        form: {
                          id: '',
                          task_name: '',
                          task_desc: '',
                          task_type: '',
                          target: '',
                          task_cmd: ''
                        },
                        formLabelWidth: '25%'
                    }
                },
                ready: function () {

                },
                methods: {
                    searchData(keywords) {
                        //处理分页显示
                        let newList = this.search(keywords)
                        let tableDataSlice = newList.slice(this.currentPage * this.pageSize - this.pageSize,
                            this.currentPage * this.pageSize);
                        if (tableDataSlice.length == 0){
                            //当搜索栏为空自动切回第一页
                            this.currentPage = 1
                        }
                        this.$store.commit('set',keywords)
                        return tableDataSlice
                    },
                    search(keywords) {
                        //数据搜索
                        let newList = this.tableData.filter(item=>{
                            if(item.task_name.includes(keywords)){
                                return true
                            }
                        });
                        return newList
                    },
                    handleSizeChange(val) {
                        //每页显示几行按钮
                        this.pageSize = val
                    },
                    handleCurrentChange(val) {
                        //跳转第几页按钮
                        this.currentPage = val
                    },
                    handleClose(done) {
                        //对话框关闭确认
                        this.$confirm('确认关闭？')
                          .then(_ => {
                            done();
                          })
                          .catch(_ => {});
                    },
                    notify(code, msg){
                        //消息提示
                        if (code == 0){
                            var title = '成功'
                            var type = 'success'
                        }else if (code == 1){
                            var title = '错误'
                            var type = 'error'
                        }
                        this.$notify({
                          title: title,
                          message: msg,
                          type: type,
                          offset: 37,
                          showClose: false
                        });
                    },
                    key_sort(column) {
                        return function (obj1, obj2) {
                            var val1 = obj1[column];
                            var val2 = obj2[column];
                            if (val1 < val2) {
                                return -1;
                            } else if (val1 > val2) {
                                return 1;
                            } else {
                                return 0;
                            }
                        }
                    },
                    changeTableSort(column){
                        //排序按钮
                        localStorage.setItem('column', JSON.stringify(column));
                        if (column.order){
                            this.tableData = JSON.parse(localStorage.getItem("tableData"))
                        }else {

                            if (column.order === 'ascending') {
                                this.tableData = this.tableData.sort(this.key_sort(column.prop))
                            } else if (column.order === 'descending') {
                                this.tableData = this.tableData.sort(this.key_sort(column.prop)).reverse()
                            }
                        }
                    },
                    select_color(row){
                        //渲染标签颜色
                        if (row.status == '已完成') {
                            return 'success'
                        }else if (row.status == '运行中') {
                            return 'warning'
                        }else if (row.status == '未执行'){
                            return 'info'
                        }else{
                            return 'danger'
                        }
                    },
                    ws(name, pods_name, id) {
                        // 创建Web Socket对象
                        let _this = this;
                        _this.log = '';
                        _this.webSocket = new WebSocket("ws://192.168.120.251:8000/log_web_socket/");
                        // 当WebSocket建立网络连接时激发该函数
                        _this.webSocket.onopen = function () {
                            // 发送消息
                            _this.webSocket.send(JSON.stringify({name: name, pods_name: pods_name, id: id}));
                        };
                        // 为onmessage事件绑定监听器，接收消息
                        _this.webSocket.onmessage = function (event) {
                            // 接收消息
                            //if (pods_name == '') {
                            //    _this.log += JSON.parse(event.data) + '\n';
                            //}else{
                                _this.log = JSON.parse(event.data);
                            //}
                        };
                        _this.webSocket.onerror = function(e) {
                            if(e){
                                console.log(e.data)
                            }
                        };
                        _this.webSocket.onclose = function(e) {
                            if(e){
                                console.log(e.code + '/' + e.reason + '/' + e.wasClean)
                            }
                        };
                    },
                    post_data(url, data) {
                        //axios异步请求
                        let _this = this;
                        axios({
                            method: 'POST',
                            headers: {
                                'X-CSRFtoken': '{{ csrf_token }}'
                            },
                            url: url,
                            data: data
                        })
                        .then(function (response) {
                            if (response.data.code == -1) {
                                _this.tableData = response.data.tableData;
                                if (data){
                                    localStorage.setItem('tableData', JSON.stringify(_this.tableData))
                                }
                                _this.changeTableSort(JSON.parse(localStorage.getItem("column")))
                            }
                            if (response.data.code == 0) {
                                _this.post_data('/task_table_data/',{})
                                _this.notify(response.data.code, response.data.msg)
                            }
                            if (response.data.code == 1) {
                                _this.notify(response.data.code, response.data.msg)
                            }
                        })
                            .catch(function (error) {
                                _this.notify(1, error)
                            })
                    },
                    handleAdd(index, row) {
                        //编辑按钮
                        this.form = {
                          id: '',
                          task_name: '',
                          task_desc: '',
                          task_type: '',
                          target: '',
                          task_cmd: ''
                        };
                        this.dialogFormVisible = true
                    },
                    handleEdit(index, row) {
                        //编辑按钮
                        this.form = {
                          id: row.id,
                          task_name: row.task_name,
                          task_desc: row.task_desc,
                          task_type: row.task_type,
                          target: row.target,
                          task_cmd: row.task_cmd
                        };
                        this.dialogFormVisible = true
                    },
                    handleDelete(index, row) {
                        //删除按钮
                        this.$confirm('确认删除？')
                          .then(_ => {
                            data = { id: row.id };
                            this.post_data('/task_table_del/',data)
                          })
                          .catch(_ => {});
                    },
                    handleRun(index, row) {
                        //删除按钮
                        this.$confirm('确认运行？')
                          .then(_ => {
                            data = { id: row.id };
                            this.post_data('/task_table_run/',data)
                          })
                          .catch(_ => {});
                    },
                    handleKill(index, row) {
                        //删除按钮
                        this.$confirm('确认终止？')
                          .then(_ => {
                            data = { id: row.id };
                            this.post_data('/task_table_kill/',data)
                          })
                          .catch(_ => {});
                    },
                    handleLog(index, row) {
                        //删除按钮
                        this.log = '';
                        this.ws(row.task_name, row.pods_name, row.id);
                        this.dialogVisible = true
                    },
                    logClose(){
                        this.webSocket.close();
                        this.dialogVisible = false
                    },
                    save() {
                        //添加按钮
                        let data = {
                            id: this.form.id,
                            task_name: this.form.task_name,
                            task_desc: this.form.task_desc,
                            task_type: this.form.task_type,
                            target: this.form.target,
                            task_cmd: this.form.task_cmd
                        };
                        this.post_data('/task_table_save/',data);
                        this.dialogFormVisible = false
                    }
                },
                created(){
                    //数据函数加载完成后
                    this.post_data('/task_table_data/',{})
                },
                mounted(){
                    //网页完全显示后
                    this.$refs.search_bar.focus();
                    this.changeTableSort({prop: 'create_time', order: 'descending'});
                    let _this = this;
                    setInterval(function() {
                        _this.post_data('/task_table_data/',{})
                    },5000);
                },
                store: store
            }
        }
    })

</script>



{% endblock %}
