                <li id="main" class="start">
					<a href="/home/">
						<i class="fa fa-home"></i>
						<span class="title">
							主页
						</span>
						<span class="selected">
						</span>
					</a>
				</li>
                <li id="user_manage">
					<a href="javascript:;">
						<i class="fa fa-user"></i>
						<span class="title">
							用户管理
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="chpasswd">
							<a href="/chpasswd/" name="修改密码">
								<i class="fa"></i>
								修改密码
							</a>
						</li>
					</ul>
				</li>
                <li id="monitor">
					<a href="javascript:;">
						<i class="fa fa-eye"></i>
						<span class="title">
							监控
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="zabbix">
							<a href="/zabbix/" name="zabbix">
								 zabbix
							</a>
						</li>
						<li id="zabbix_guild">
							<a href="/zabbix_guild/" name="zabbix_guild">
								 zabbix_guild
							</a>
						</li>
                        <li id="grafana">
							<a href="/grafana/" name="grafana">
								 grafana
							</a>
						</li>
{#                        <li id="CDH">#}
{#							<a href="/CDH/" name="CDH">#}
{#								 CDH#}
{#							</a>#}
{#						</li>#}
					</ul>
				</li>
                <li id="server_info">
					<a href="javascript:;">
						<i class="fa fa-truck"></i>
						<span class="title">
							信息表
						</span>
						<span class="arrow">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="server_info_table">
							<a href="/server_info_table/" name="服务器信息表(旧)">
								<span class="title">
									服务器信息表(旧)
								</span>
							</a>
						</li>
                        <li id="server_info_table_new">
							<a href="/server_info_table_new/" name="服务器信息表(新)">
								<span class="title">
									服务器信息表(新)
								</span>
							</a>
						</li>
						<li id="domain_name_CRT_table">
							<a href="/domain_name_CRT_table/" name="域名及证书信息表">
								<span class="title">
									域名及证书信息表
								</span>
							</a>
						</li>
					</ul>
				</li>
                <li id="ansiable">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">
							ansiable
						</span>
						<span class="arrow">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="ansiable_playbook">
							<a href="/ansiable_playbook/" name="ansiable_playbook">
								<span class="title">
									ansiable-playbook
								</span>
							</a>
						</li>
                        <li id="quick_update">
							<a href="/quick_update/" name="快速更新">
								<span class="title">
									快速更新
								</span>
							</a>
						</li>
                        <li id="ansiable_playbook_log">
							<a href="/ansiable_playbook_log/" name="ansiable_playbook_log">
								<span class="title">
									操作日志
								</span>
							</a>
						</li>
					</ul>
				</li>
                <li id="operation">
					<a href="javascript:;">
						<i class="fa fa-desktop"></i>
						<span class="title">
							运维操作
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
                        <li id="cmd_template">
							<a href="/cmd_template/" name="命令模板">
								 命令模板
							</a>
						</li>
                        <li id="server_operation">
							<a href="/server_operation/" name="服务器操作">
								 服务器操作
							</a>
						</li>
					</ul>
				</li>
                <li id="audit">
					<a href="javascript:;">
						<i class="fa fa-book"></i>
						<span class="title">
							运维审计
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="audit_log">
							<a href="/audit_log/" name="操作日志">
								 操作日志
							</a>
						</li>
					</ul>
				</li>
                <li id="task_schedule">
					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span class="title">
							任务调度
						</span>
						<span class="arrow">
						</span>
					</a>
					<ul class="sub-menu">
{#						<li id="task_table">#}
{#							<a href="/task_table/" name="任务">#}
{#								<span class="title">#}
{#									任务#}
{#								</span>#}
{#							</a>#}
{#						</li>#}
{#                        <li id="task_table_group">#}
{#							<a href="/task_table_group/" name="任务组">#}
{#								<span class="title">#}
{#									任务组#}
{#								</span>#}
{#							</a>#}
{#						</li>#}
{#                        <li id="task_schedule_table">#}
{#							<a href="/task_schedule_table/" name="计划任务">#}
{#								<span class="title">#}
{#									计划任务#}
{#								</span>#}
{#							</a>#}
{#						</li>#}
                        <li id="task_schedule_scripts">
							<a href="/task_schedule_scripts/" name="脚本">
								<span class="title">
									脚本
								</span>
							</a>
						</li>
                        <li id="task_schedule_config">
							<a href="/task_schedule_config/" name="配置文件">
								<span class="title">
									配置文件
								</span>
							</a>
						</li>
                        <li id="task_schedule_upload">
							<a href="/task_schedule_upload/" name="上传jar包">
								<span class="title">
									上传jar包
								</span>
							</a>
						</li>
                        <li id="task_schedule_tasks">
							<a href="/task_schedule_tasks/" name="运行中任务">
								<span class="title">
									运行中任务
								</span>
							</a>
						</li>
					</ul>
				</li>

