                <li id="main" class="start">
					<a href="/home/">
						<i class="fa fa-home"></i>
						<span class="title">
							主页
						</span>
						<span class="selected">
						</span>
					</a>
				</li>
                <li id="user_manage">
					<a href="javascript:;">
						<i class="fa fa-user"></i>
						<span class="title">
							用户管理
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="chpasswd">
							<a href="/chpasswd/" name="修改密码">
								<i class="fa"></i>
								修改密码
							</a>
						</li>
					</ul>
				</li>
                <li id="order_manage">
					<a href="javascript:;">
						<i class="fa fa-cutlery"></i>
						<span class="title">
							订餐管理
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
                        <li id="order_form">
							<a href="/order_form/">
								<i class="fa"></i>
								订餐
							</a>
						</li>
					</ul>
				</li>

